.minecraft/config/ferritecore-mixin.toml
.minecraft/config/fml.toml
.minecraft/config/sodium-mixins.properties
.minecraft/downloads/log.json
.minecraft/logs/debug.log
.minecraft/logs/latest.log
.minecraft/options.txt
instance.cfg
.minecraft/config/bclib/client.json
.minecraft/config/bclib/main.json
.minecraft/config/betterend/client.json
.minecraft/config/betterend/generator.json
.minecraft/config/betterend/portals.json
.minecraft/config/betternether/client.json
.minecraft/config/betternether/default_game_rules.json
.minecraft/config/betternether/world.json
.minecraft/config/biomesize.json
.minecraft/config/colorwheel-client.toml
.minecraft/config/create-client.toml
.minecraft/config/create-common.toml
.minecraft/config/cupboard.json
.minecraft/config/DistantHorizons.toml
.minecraft/config/flywheel-client.toml
.minecraft/config/freecam.json5
.minecraft/config/iris-excluded.json
.minecraft/config/iris.properties
.minecraft/config/lithostitched.json
.minecraft/config/neoforge-client.toml
.minecraft/config/neoforge-common.toml
.minecraft/config/ok_zoomer/config.json5
.minecraft/config/ponder-client.toml
.minecraft/config/sereneseasons/fertility.toml
.minecraft/config/sereneseasons/seasons.toml
.minecraft/config/sodium-fingerprint.json
.minecraft/config/sodium-options.json
.minecraft/config/tectonic.json
.minecraft/config/travelersbackpack-client.toml
.minecraft/config/travelersbackpack-common.toml
.minecraft/config/wover/cached.json
.minecraft/config/wover/client.json
.minecraft/config/wover/main.json
.minecraft/config/xaero/lib/client.cfg
.minecraft/config/xaero/lib/common.cfg
.minecraft/config/xaero/lib/profiles/default.cfg
.minecraft/config/xaero/lib/server_profiles/default.cfg
.minecraft/config/xaero/minimap/client.cfg
.minecraft/config/xaero/minimap/common.cfg
.minecraft/config/xaero/minimap/default_radar_categories_client.json
.minecraft/config/xaero/minimap/default_radar_categories_server.json
.minecraft/config/xaero/minimap/profiles/default.cfg
.minecraft/config/xaero/minimap/profiles/info_display_config/default.cfg.txt
.minecraft/config/xaero/minimap/server_profiles/default.cfg
.minecraft/config/xaero/world-map/client.cfg
.minecraft/config/xaero/world-map/common.cfg
.minecraft/config/xaero/world-map/profiles/default.cfg
.minecraft/config/xaero/world-map/server_profiles/default.cfg
.minecraft/config/xaerohud.txt
.minecraft/config/xaeropatreon.txt
.minecraft/logs/crafttweaker.log
.minecraft/logs/telemetry/20260325-1.json
.minecraft/options.txt
.minecraft/shaderpacks/Bliss-Shader-Release_v2.1.2_(Chocapic13_Shaders_edit) + Clrwl_1.0.4.zip
.minecraft/shaderpacks/BSL_v10.1.1 + Clrwl_1.0.4.zip
.minecraft/shaderpacks/BSL_v10.1.1 + Clrwl_1.0.4.zip.txt
.minecraft/shaderpacks/photon_v1.2a + Clrwl_1.0.4.zip
.minecraft/shaderpacks/rethinking-voxels_r0.1-beta9 + Clrwl_1.0.4.zip
.minecraft/options.txt
instance.cfg
.minecraft/options.txt
instance.cfg
/.minecraft/logs
